 
 body {
    font-family: Open sans;
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin: 176px 245px;
    padding: 0;
 }

 * {
    box-sizing: border-box;
 }

 .container {
   max-width: 1110px;
   margin: 0 auto;
   padding-bottom: 120px;
 }

 .section{
   padding-top: 120px;
   flex-direction: column;
   align-items: center;
   
 }

 .header {
   padding-top: 60px;

 }
.logo {
   margin: 0;
}
 .image {
    height: 465px;
    border-radius: 70px;
 }
  
 
 h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    width: 465px;
    height: 204px;
    margin: 0;
 }
h2 {
   font-size: 40px;
   text-align: center;
   align-items: center;
   margin: 0;
   }

.onebody {
   width: 720px;
   height: 442px;
}

.first-cont{
   padding-top: 70px;
   width: 720px;
   height: 442px;
   align-items: center;
   padding-left: 440px;
  }
.first {
   display: flex;
   gap: 41px;
   align-items: flex-start;
   
   align-items: center;
   }

.first-image{
   padding: 0 0 41px 0;
}
   .first-wrap {
   text-align: left;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   width: 613px;
   height: 78px;
   }

.first-title{
   margin: 0;
   padding-bottom: 11px;
}
.twoonetitle{
text-align: left;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 140%;
}
.two {
   display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;
width: 475px;
height: 335px;
padding-left: 122px;
}

.two-wrap {
padding: 76px 125px 75px 122px;
text-align: left;
align-items: flex-start;
display: flex;
width: 1110px;
height: 486px;
justify-content: space-between;
border-radius:60px;
background: linear-gradient(02deg, #FFF6DF 17.38%, #FFDFDE 81.25%) ;
}

.footer{
   
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 136.7%;
   text-align: center;
   padding: 120px 701px 120px 701px;
}

.footer-text{
   width: 198px;
   height: 21px;
}
p {
   margin: 0;
}
 
 .intro {
    font-style: normal;
    line-height: 25px;
    width: 423px;
    height: 50px;
   margin: 30px 0;
 }

 .button{ 
    background: #FF6861;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    padding: 22px 70px;
    font-weight: 700;
    width: 221px;
    text-align: center;
    display: block;
 }
 
 .offer {
    height: 383px;
    align-items: center;
 }

 .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 82px;
 } 
